
.navbar  .title {
    display: inline-block;
    margin: 0;
}

.collection.with-header .collection-header {
    padding: 0;
}

.collection {
    margin: 0;
}

.secondary-content button:first-child { 
    margin-right: 6px;
}

.secondary-content button {
    text-transform: lowercase;
}

.logout {
    margin: 0 15px  0  0;
    padding-top: 20px;
}