<div class="container-wrapper">

    <p class="right-align logout"><button mz-button (click)="logout()">logout</button></p>

    <div class="container">
        
        <ul class="collection with-header">
            <li class="collection-header">
                    <mz-navbar class="navbar" [navbarClass]="'blue darken-1'">
                            <h4 class="title">Users</h4>
                            <mz-navbar-item-container [align]="'right'">
                                <mz-navbar-item>
                                    <button mz-button (click)="createUser()">Create new user</button>
                                </mz-navbar-item>
                            </mz-navbar-item-container>
                        </mz-navbar>
            </li>
            <li class="collection-item avatar" *ngFor="let user of users">
                <img [src]="user.avatar" alt="" class="circle">
                <span class="title">{{user.first_name + ' ' + user.last_name}}</span>
                <p>id: {{user.id}}</p>

                <div class="secondary-content">
                    <button mz-button class="waves-effect waves-light btn-small blue" (click)="updateUser(user.id)">Update user</button>
                    <button mz-button class="waves-effect waves-light btn-small yellow darken-3" (click)="deleteUser(user.id)">Delete user</button>
                </div>
            </li>
        </ul>

        <mz-pagination
            (pageChange)="onPageChange($event)"
            [currentPage]="page"
            [itemsPerPage]="perPage"
            [enableFirstAndLastPageButtons]="true"
            [maxPageButtons]="5"
            [totalItems]="totalItems">
        </mz-pagination>
    </div>
</div>
