<mz-modal [options]="modalOptions" #modal>
    <mz-modal-content>
      <p class="modal-text center-align">Create a new user</p>

      <form action="" [formGroup]="createUserForm">
          <mz-input-container>
            <input mz-input
              mz-validation
              [label]="'name'"
              type="text"
              [formControl]="name">
          </mz-input-container>

          <mz-input-container>
              <input mz-input
                mz-validation
                [label]="'email'"
                type="email"
                [formControl]="email">
            </mz-input-container>

            <div class="modal-btn-wrapper">
              <button mz-button class="waves-effect waves-light btn-small yellow darken-3 modal-btn" (click)="createUser(createUserForm)">Create new user</button>
              <button mz-button mz-modal-close class="waves-effect waves-light btn-small blue modal-btn">demiss</button>
            </div>
      </form>
    </mz-modal-content>
</mz-modal>