<mz-modal [options]="modalOptions" #modal>
    <mz-modal-content>
      <p class="modal-text center-align">Do you want remove this user?</p>
      <div class="modal-btn-wrapper">
        <button mz-button class="waves-effect waves-light btn-small yellow darken-3 modal-btn" (click)="deleteUser()">Yes</button>
        <button mz-button mz-modal-close class="waves-effect waves-light btn-small blue modal-btn">No</button>
      </div>
    </mz-modal-content>
  </mz-modal>