<div class="container-form">
  <div class="card">
    <div class="card-content">
      <h1 class="card-title center-align">
        <img src="assets/images/angular.png" alt="Angular logo" class="logo">
        <span class="text">Test App Login</span>
      </h1>

      <form action=""  [formGroup]="loginForm" class="form" novalidate (ngSubmit)="login(loginForm)">
        <mz-input-container>
          <input mz-input
            mz-validation
            [label]="'Email'"
            id="email-input"
            type="email"
            [formControl]="loginFormEmail"
            [errorMessageResource]="errorMessageResources.email"
            required>
        </mz-input-container>

        <mz-input-container>
          <input mz-input
            mz-validation
            [label]="'Password'"
            id="password-input"
            type="password"
            [formControl]="loginFormPassword"
            [errorMessageResource]="errorMessageResources.password"
            required>
        </mz-input-container>

        <button mz-button  class="right">Login</button>
      </form>

      <p class="not-registered right-align">Not registered? <a href="#">Create an account</a></p>

    </div>
  </div>
</div>
