.container-form {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: auto;
}

.card .card-content .card-title {
    margin: 0;
}

.logo {
    height: 42px;
}

.text {
    position: relative;
    top: -10px;
    margin-left: 4px;
}

.form {
    margin-bottom: 60px;
}

.not-registered {
    clear: both;
}