/* You can add global styles to this file, and also 
import other style files */

body {
    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 12%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%, rgba(73,155,234,1)), color-stop(32%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 12%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 12%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 12%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 12%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    height: 100vh;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2rem !important;
    font-size: 0.87rem !important;
}

.input-field label {
    font-size: 0.87rem !important;
}

#toast-container {
    margin: 0 auto !important;
    right: 0 !important;
    left: 0 !important;
    max-width: 400px !important;
    z-index: 1005;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.loader {
    background: #fff url(assets/images/loader.gif) no-repeat center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .9;
    z-index: 1004;
    top: 0;
    left: 0;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader-hide:not([class*="loading-"]) {
    display: none !important;
}


.nav-wrapper {
    padding: 10px;
} 

mz-navbar-item-container ul {
    padding: 0;
    position: relative;
    top: -10px;
}


.container-wrapper {
    min-height: 100vh;
    background-color: #fff;
}

.pagination {
    text-align: center;
    margin: 0 !important;
    padding-top: 12px;
}

.modal {
    max-width: 400px;
}

.modal-btn-wrapper {
    text-align: center;
}

.modal-btn:first-child {
    margin-right: 6px;
}